body{
    font-family:Arial, Helvetica, sans-serif; 
}

.logo img{
    width: 600px; 
}

.content{
    padding:20px; 
}

.center{
    display:flex; 
    justify-content: center;
}

.submit{
    border:none; 
    display:inline-block; 
    border-radius:16px; 
}

h1{
    text-align:center; 
}

.clock{
    color:black; 
    padding:10px; 
    font-size:35px; 
    font-weight:bold; 
    text-align:center;
}

.clock a{
    text-decoration:none; 
    color:black; 
}
/* ----------- Navigation ---------- */

.search{
    float:right; 
}

.navbar{
    background-color:#7b2e0f; 
    padding:20px; 
}

.nav_btn{
    display:none; 
}

.menu a{
    padding:10px; 
    text-decoration:none;
    color:white; 
    font-size:20px; 
    
}

.menu a:hover{
    background-color:#ffa200; 
    color:black; 
    padding:20px; 
}

.menu a.current{
    color:black; 
    background-color:#ffa200; 
    padding:20px; 
}

/* --------------- News ---------------- */
.news{
    background-color:#0156a3; 
    color:white; 
    padding:10px; 
    border-radius:25px; 
    font-size:20px; 
}

/* --------------- What can be recycled ---------------- */

.home-images img{
    width:100%; 
}

.content article{
    display:flex; 
    gap:20px; 
}

.content .home-images{
    padding:30px; 
}

.home-images, .home-images h3{
    text-align:center
}

/* ---------------- Testimonials ----------------- */
.testimonials{
    padding:20px; 
}

.testimonial{
    float:left; 
    width:50%; 
    font-size:20px; 
}
.testimonials:after{
    content:""; 
    display:table; 
    clear:both;  
}

.testimonial img{
    width:90px;  
    border-radius:50%;
}

/* ------------ Forms -------------- */

.form{
    text-align:center; 
    margin-top:150px; 
    margin-bottom:150px;
    background-color:#0156a3; 
    color:white; 
    width:400px; 
    padding:60px; 
    border-radius:25px; 
}

.form h1{
    font-family:'Times New Roman', Times, serif; 
    color:white; 
    font-size:40px; 
}

.form div{
    padding:10px; 
}

.error{
    color:red; 
}

/* ----------------- About ------------------- */

.projects{
    text-align:center; 
    background-color:#0156a3; 
    color:white; 
    border-radius:25px; 
    padding:15px;
    margin: 50px 0px 50px 0px;  
}

.content .leaf img{
    width:50px; 
}

.recycling-waste p{
    text-align:center; 
    padding:10px; 
}
/* -------------- About accordions ---------- */ 
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size:17px; 
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion img{
    width:20px; 
    margin-right:10px; 
    top:5px;
    position:relative;  
}

.accordion span{
    float:right; 
    font-size:20px; 
}

/* -------------- Animated banner ------------- */
section{
    position:relative; 
    width:100%; 
    height:60vh; 
    display:flex; 
    overflow:hidden; 
}

section div{
    position:relative; 
    width:50%; 
    background-color:#0156a3; 
    overflow:hidden; 
}

section div h2{
    position:absolute; 
    white-space:nowrap; 
    font-size:12em; 
    line-height:20vh; 
    color:white; 
    animation:animate 17s linear infinite; 
}

section div:nth-child(1){
    position:relative; 
    width:50%; 
    background-color:#7b2e0f; 
    background-size:cover; 
    overflow:hidden; 
}

section div:nth-child(1) h2{
    -webkit-text-stroke:2px;
    -webkit-text-stroke-color:white;
    -webkit-text-fill-color:transparent;
    left:100%; 
}

@keyframes animate
{
    0%{
        transform:translateX(0); 
    }
    100%{
        transform:translateX(-100%); 
    }
}

/* -------------- Mission statement ------------- */
.mission-statement{
    margin: auto;
    width: 50%;
    background-color:rgb(123 46 15 / 75%); 
    border-radius:25px; 
    padding: 30px;
    color:white; 
}

/* -------------- Values ----------------- */
.projects div{
    width:33%; 
}

/* ------------- Purpose --------------- */
.benifits{
    margin: auto;
    width: 50%;
    border: 5px solid #7b2e0f;
    padding: 10px;
}

/* ----------------- Footer ----------------- */

footer{
    background-color:#7b2e0f; 
    color:white;
    text-align:center;
    padding:10px; 
}

.footer-element{
    padding:10px; 
    font-size:20px; 
}

.footer-element a{
    color:white; 
    padding:10px; 
}

.socials img{
    width:25px; 
    height:25px;
}

@media (max-width: 600px){
    /* ----------- header ------------ */
    .logo img{
        width:250px; 
    } 

    .navbar{
        position: relative;
        padding:10px;
        width:50px; 
        top:0; 
        background-color:transparent;
        float:left; 
    }
    .nav_btn{
        padding:10px; 
        text-transform: uppercase;
        display:block; 
    }

    .nav_btn img{
        width:40px; 
    }
    
    .menu{
        display: none;
        background-color:#fff;
        min-width:150px;
        z-index: 1;
        position: absolute;
        top:60px;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.089);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    }
    .menu a{
        color:#000;
        padding:10px 15px;
        text-decoration: none;
        display:block;
    }
    .menu a:hover{
        background-color:#ffa200;
        color:black; 
    }
    .navbar:hover .menu{
        display:block;
    }

    .search{
        float:none; 
        margin:10px 5px 10px 5px; 

    }

    header{
        width:100%; 
        align-items:stretch; 
    }

    header > *{
        flex:1; 
    }

    /* ---------- What can be recycled ------------- */
    .home-images img{
        width:90px; 
    }

    .home-images h3{
        font-size:17px; 
    }

    /* ----------- Contact ---------- */
    .form{
        width:300px; 
    }

    /* ---------- Purpose ---------- */

    .benifits{
        width:300px; 
    }

    .content article{
        display:inline-block; 
        gap:0px;  
    }

    .projects div{
        width:100%; 
    }

    .clock{
        font-size:20px; 
        text-align:center; 
    }

}







